@layer base {
  :root {
    --brand-primary: 87 85 255;
    --brand-secondary: 255 142 107;

    --text-primary: 255 255 255;
    --text-sub1: 233 233 233;
    --text-sub2: 190 190 190;
    --text-sub3: 119 119 119;
    --text-sub4: 76 76 76;
    --text-sub5: 28 28 28;

    --background-primary: 28 28 28; 
    --background-sub1: 36 36 36;
    --background-sub2: 47 47 47;
    --background-sub3: 76 76 76;
    --background-sub4: 255 255 255;

    --notification: 255 84 85
  }
}